.head-wrapper{
  padding: 5px 10px 5px 10px;
  margin: 5px 30px 5px 30px;
  border: 1px solid aqua;
  background-color: aliceblue;
  height: 100px
}

.navigate{
  font-size: 14px;
  padding-left: 5px;
  padding-top: 2px;
}

#field-list{
    list-style-type: none;
}

i.current{
  color: blue;
}

#intro{
  padding-top: 15px;
}

/*#ask-question{
  
}

#ans-question{

}

#ask{
  
}

#ans{

}*/